@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    width: 350px;
    height: auto;
}

div {
    display: flex;
    gap: 30px;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    color: aliceblue;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}

input {
    margin-top: 15px;
    width: 260px;
    height: 40px;
    border: solid 1px;
    border-radius: 10px;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.25);
    opacity: 0.5;
    font-size: 20px;
}

button {
    margin-top: 40px;
    width: 300px;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 30px;
    font-weight: 15px;
    color: beige;
    background-color: red;
    box-shadow: 0 0 30px red;
}


@media screen and (max-width: 600px) {
    body {
        margin: 50% 0;
    }

    img {
        width: 300px;
        height: auto;
    }

    h2 {
        font-size:larger;
    }

    input {
        width: 180px;
    }

    button {
        width: 200px;
    }

    div {
        display: flex;
        gap: 16px;
    }
}